h1{
    text-align: center;
    font: bold;
}
.Tex-Center{
    text-align: center;
}
#header{
    margin: 2%;
}
#filtro-Content-title{
    padding-top: 3px;
    margin: auto;

}
#lateral{
    padding: 10px;
}
.margen{
    margin-top: 15%;
    margin-bottom: 10%;

}
#check-acum{
    margin: auto;
}


.graph{
    width: 50%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.form-check{
    display: flex;
}
  
#menu{
    justify-self: center;
}
.grande{
    width: 100%;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1100px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    #Menus {
        display: flex;
        flex-direction: column;

    }

    .graph{
        width: 100%;
    }
    #Menus:only-child{
        width: auto;
    }
        
    .margen{
        margin: auto;

    }
}